html{ 
    height: 100%; 
}

body {} /* article_bodyに書くことにする */

div#article_body {
    width: 1200px;
    height: 100%;
    margin-right: auto;
    margin-left : auto;
    background-color: #fbffff; /*背景色*/
}



/*
記事ヘッダーのスタイル
ナビゲーションバー
*/
div#navigation_bar {

}

/*
記事内容のスタイル
lightcyan
#e0ffff
*/
div#article_content {
    margin-top:40px;
    padding:40px;
    height: auto;
    min-height: 100%;
    text-align: left;
    background-color: #ddffff;
    color: black;
}



/* ナビゲーションバー 参照:https://www.w3schools.com/css/css_navbar.asp */
ul#nav_bar_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

li#nav_top, li#nav_rel, li#nav_ref {
    float: left;
    color: white;
}

li a#nav_top_a, li a#nav_rel_a, li a#nav_ref_a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-style: solid;
    border-color: black;
}

li a:hover {
    color: #f0f0f0;
    background-color: #808080;
}

p#nbar_title {
    background-color: #00ccff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}



/* 各項目 */
h1 {
    /* background-color: #bbffff; */
    /* border-top: 5px solid #00ccee; */
    /* border-bottom: 10px solid #00ccff; */
    /* border-left: 5px solid #00ccff; */
    border-left: 10px solid black;
    padding: 7px;
    padding-left: 20px;
    display:inline-block;
}


h2 {
    background-color: #bbffff;
    /* border-top: 5px solid #00ccee; */
    border-bottom: 5px solid #00ccff;
    /* border-left: 5px solid #00ccff; */
    padding: 7px;
    /* display:inline-block; */
}

h3 {
    background-color: #bbffff;
}

h4 {
    background-color: #bbffff;
}




/*table*/
table, th, td {
    background-color: white;
    border: 1.5px solid black;
}


table{
    border-collapse:separate;
    border-spacing: 0;
}

table th:first-child{
    border-radius: 5px 0 0 0;
}

table th:last-child{
    border-radius: 0 5px 0 0;
    border-right: 1px solid #3c6690;
}

table th{
    text-align: center;
    color:white;
    background: linear-gradient(#829ebc,#225588);
    border-left: 1px solid #3c6690;
    border-top: 1px solid #3c6690;
    border-bottom: 1px solid #3c6690;
    box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
    width: 25%;
    padding: 10px 0;
}

table td{
    text-align: center;
    border-left: 1px solid #a8b7c5;
    border-bottom: 1px solid #a8b7c5;
    border-top:none;
    box-shadow: 0px -3px 5px 1px #eee inset;
    width: 25%;
    padding: 10px 0;
}

table td:last-child{
    border-right: 1px solid #a8b7c5;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 5px;
}

table tr:last-child td:last-child {
    border-radius: 0 0 5px 0;
}